<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zb.test.dao.PersonMapper">
    <resultMap id="personMap" type="person">
        <id column="id" property="id"></id>
        <association property="department" javaType="Department">
            <id property="id" column="deid"></id>
            <result column="dname" property="name"></result>
        </association>
    </resultMap>
	<select id="findAll" resultMap="personMap" parameterType="map">
        SELECT *,d.id deid , d.name dname FROM person p INNER JOIN department d ON p.did=d.id
        <where>
            <if test="person!=null and person.name!=null and person.name!=''">
                p.name like concat('%',#{person.name},'%')
            </if>
        </where>
    </select>
    <select id="findById" resultType="person" parameterType="int">
        select*from person where id=#{id}
    </select>
    <update id="update" parameterType="person">
        update person set name=#{name},gender=#{gender},age=#{age},birthday=#{birthday},did=#{did}
        where id=#{id}
    </update>
    <select id="findD" resultType="department">
        select*from department
    </select>
</mapper>

